<!-- navigation -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#"><img class="brand-image" src="assets/cpu.png" /> Railroad Controller</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">DCC Console</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Controller</a>
        </li>
    </ul>
</nav>

<!-- version -->
<app-version></app-version>

<!-- main part -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <app-dcc></app-dcc>
        </div>
    </div>
</div>