<h1>DCC Console</h1>
<div>
    <button type="submit" class="btn btn-outline-secondary" (click)="switchOn()">On</button>
    <button type="submit" class="btn btn-outline-secondary" (click)="switchOff()">Off</button>
</div>
<br />
<div class="form-group">
    <label for="dcc-command">Please enter your DCC Command:</label>
    <input type="text" [(ngModel)]="dccCommand.command" class="form-control" id="dcc-command">
</div>
<button type="submit" class="btn btn-outline-primary" (click)="sendCommand()">Send Command</button>
<br /><br />
Status: <span *ngIf="dccStatus">{{ dccStatus.status }}</span><span *ngIf="!dccStatus">-</span>

<br /><br /><br />

<h2>DCC Logging</h2>
<div class="log-box">
    <table class="table table-sm table-borderless">
        <tr *ngFor="let logItem of logItems" class="d-flex">
            <td class="col-3">{{ logItem.timestamp | date : 'yyyy-MM-dd HH:mm:ss.SSS' }} - </td>
            <td class="col-9">{{ logItem.message }}</td>
        </tr>
    </table>
</div>