<h1>DCC Console</h1>
<div class="form-group">

</div>
<div class="form-group">
    <button class="btn btn-outline-secondary" (click)="executeCommand('1')">On</button>&nbsp;
    <button class="btn btn-outline-secondary" (click)="executeCommand('0')">Off</button>&nbsp;
    <button class="btn btn-outline-secondary" (click)="executeCommand('s')">Status</button>&nbsp;
    <button class="btn btn-outline-secondary" (click)="executeCommand('t 1 03 0 1')">0 % Forward</button>&nbsp;
    <button class="btn btn-outline-secondary" (click)="executeCommand('t 1 03 100 1')">100 % Forward</button>&nbsp;
    <button class="btn btn-outline-secondary" (click)="executeCommand('t 1 03 0 0')">0 % Back</button>&nbsp;
    <button class="btn btn-outline-secondary" (click)="executeCommand('t 1 03 100 0')">100 % Back</button>&nbsp;
</div>
<div class="form-group">
    &nbsp;
</div>
<div class="form-group">
    <label for="dcc-command">Please enter your DCC Command:</label>
    <input type="text" [(ngModel)]="dccCommand.command" class="form-control" id="dcc-command">
</div>
<div class="form-group">
    <button class="btn btn-outline-primary" (click)="executeCommand(undefined)">Send Command</button>
</div>



<br /><br />
Status: <span *ngIf="dccStatus">{{ dccStatus.status }}</span><span *ngIf="!dccStatus">-</span>

<br /><br /><br />

<h2>DCC Logging</h2>
<div class="log-box">
    <table class="table table-sm table-borderless">
        <tr *ngFor="let logItem of logItems" class="d-flex">
            <td class="col-4">{{ logItem.timestamp | date : 'HH:mm:ss.SSS' }} ({{ logItem.direction }}) </td>
            <td class="col-8">{{ logItem.message }}</td>
        </tr>
    </table>
</div>